<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>À propos</h2>
        <h4>apprendre, comprendre et reconstruire la vision que l’on a de soi.</h4>
        <hr></hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          Nous regroupons une équipe de passionnés des technologies de développements, de Quantified Self et Wellness au plus proche des évidences mesurables. Nous sommes convaincus que ce rapprochement à le pouvoir d’améliorer le quotidien de l’individu et de faire évoluer les interactions dans le domaine du bien-être et de la santé.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Notre mission est de permettre un renfort à l’analyse de l’état de la personne dans sa globalité et de ses propres constantes. Nous aspirons à la mise en corrélation des données dans un environnement sécurisé et pratique. Notre organisation compte parmi ses conseillers des experts des troubles musculo-squelettique ainsi que des entrepreneurs du PAAS personnel.
        </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="http://eepurl.com/bPAlSf" class="btn btn-lg btn-outline">
          <i class="fa fa-envelope"></i> prévenez moi pour votre beta test
        </a>
      </div>
    </div>
  </div>
</section>




<!--End mc_embed_signup-->
