 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <h4>comprendre, consulter, construire notre propre opinion intelligemment.</h4>
                      <hr></hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Le mouvement lancé en 2007 en Californie le « quantified self » (auto-mesure),
                      implique une évaluation quantitative systématique de son propre corps.
                       La méthode traditionnelle de la quantification de soi consiste en la capture,
                        la visualisation et l’analyse croisées de données en vue d’établir des corrélations
                         et d’en tirer des enseignements.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Le courant « Wellness » (bien-être) est un art de vivre.
                      Nous souhaitons vous faire partager une experience utilisteur
                      qui vous communique des informations basés sur des évidences mesurables
                      simples et utiles pour votre quotidien. Notre application génère une base
                      chiffré sur votre mobile et ne communique aucune données sans votre permission explicite.
                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://eepurl.com/bPAlSf" class="btn btn-lg btn-outline">
                        <i class="fa fa-envelope"></i> prévenez moi pour votre beta test
                    </a>
                </div>
            </div>
        </div>
    </section>




<!--End mc_embed_signup-->
