    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <img src="img/portfolio/icones_logo.png" class="img-responsive" alt="{{ post.alt }}">
                        <span class="skills">{{ site.skills }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
