    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/profile.png" alt="{{ post.alt }}">
                    <div class="intro-text">
                      <img class="img-responsive" src="img/fonts_logo.png" alt="{{ post.alt }}">
                        <img src="img/portfolio/icones_logo.png" class="img-responsive" alt="{{ post.alt }}">
                        <i class="fa fa-quote-left fa-2x"></i>
                          <span class="skills">{{ site.skills }}</span>
                            <i class="fa fa-quote-right fa-2x"></i>
                    </div>
                </div>
            </div>
        </div>
    </header>
