    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <div class="intro-text">
                  <i class="fa fa-quote-left fa-2x"></i>
                  <span class="skills">{{ site.skills }}</span>
                  <i class="fa fa-quote-right fa-2x"></i>
                  </div>
                    <img class="img-responsive" src="img/profile2.png" alt="{{ post.alt }}">
                    <div class="intro-text">
                      <img class="img-responsive" src="img/fonts_logo.png" alt="{{ post.alt }}">
                        <img src="img/icones_logo.png" class="img-responsive" alt="{{ post.alt }}">
                    </div>
                </div>
            </div>
        </div>
    </header>
